body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.btn-back {
    margin-top: 5px;
    background-color: transparent;   
    border: none;
    cursor: pointer;
}

/* Estilos básicos para las pestañas */
.tabs {
    display: flex;
    flex-direction: column;
  }

  .tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
  }

  .tab-list button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
  }

  .tab-list button[aria-selected="true"] {
    border-bottom: 2px solid #0078d7;
    font-weight: bold;
  }

  .tab-panel {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tab-panel[aria-hidden="false"] {
    display: block;
  }